:root {
    --btn-col: #20a5d6;
    --text-col: #9ccef9;
    --placeholder-col: #879ca5;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
}

.gorilla-frame-responsive {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    left: 0 !important;	
}

.page {
    background-color: #000;
}

.background {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.max-width-height {
    width: 100%;
    height: 100%;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--btn-col);
    border: none;
    border-radius: 15px;
    transition-duration: 0.2s;
    transition-property: background-color;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button:hover {
    background-color: #1c8db6
}

#xray-viewer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 75%;
}

#decision-support {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 75%;
    background-color: black;
}

#decision-placeholder {
    position: absolute;
    width: 100%;
    top: 40%;
    color: var(--text-col);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

.container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y: scroll;
    background-color: #005777;
    border: 1px solid var(--btn-col);
}

.contents {
    margin: 10px 10px;
    padding: 15px;
    background-color: black;
    color: var(--text-col);
    font-family: Arial, Helvetica, sans-serif;
}

.reduce-v-padding p {
    margin-bottom: 10px;
}

.vignette::-webkit-scrollbar {
    display: block;
}

#page3 h2 {
    margin-top: 40px;
}

#vignette-p1 {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 40%;
}

#vignette-p2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 25%;
}

#response-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 25%;
    line-height: 2;
}

#continue-button-p2 {
    float: right;
    display: table-row;
}

.hidden {
    visibility: collapse;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    background: #0f4c63;
    outline: none;
    opacity: 0.85;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--btn-col);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--btn-col);
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid var(--btn-col);
    border-radius: 4px;
    color: var(--text-col);
    background-color: #1d1d1d;
    resize: none;
}

textarea.error {
    border: 2px solid red;
}

textarea.hide {
    display: none;
}

textarea::placeholder {
    color: var(--placeholder-col);
}

.radio-button {
    list-style-type:none;
    margin-top: -30px;
    margin-left: -30px;
}

.radio-button li {
    float:left;
    width:fit-content;
    height: 35px;
}

.radio-button label, .radio-button input {
    display:block;
}

.radio-button input[type="radio"] {
    opacity:0;
}

.radio-button input[type="radio"]:checked + label {
    background:var(--btn-col);
    color: white;
}

.radio-button label {
    padding: 8px 10px;
    border:1px solid var(--btn-col); 
    cursor:pointer;
    z-index:90;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.radio-button.error label {
    border:1px solid red; 
}

.radio-button.short label {
    padding: 0px 10px;
}

.radio-button.large label {
    font-size: larger;
    padding: 15px 15px;
}

.radio-button label:hover {
    background:#10546d;
    color: white;
}

.errors {
    color: red;
    font-style: italic;
}

.lilBtn {
    background-color: var(--btn-col);
    border-radius: 20px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 2rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    opacity: 80%;
    transition-duration: 500ms;
    text-overflow: clip;
    white-space: nowrap;
    direction: rtl;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.lilBtn:hover {
    opacity: 100%;
    width: 10rem;
    
}

#lowerButtons {
    position: fixed;
    flex-direction: row;
    transition: opacity 1s ease-out;
    bottom: 1rem;
    right: 1rem;
}